*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #183b56;
    --accent-color-dark: #183b56;
    --padding-inline-section: #183b56;

}

body{
    font-family: Georgia, 'Times New Roman', Times, serif ;
    color:
}
